<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'WorkshopDBSystem/css/base.css' %}" type="text/css"></link>
    <link rel="stylesheet" href="{% static 'WorkshopDBSystem/css/basictable.css' %}" type="text/css"></link>
    <script type="text/javascript" src="{% static 'WorkshopDBSystem/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'WorkshopDBSystem/js/jquery.basictable.min.js' %}"></script>  
  </head>
  <body>
    <h1>{% block sname %}{% endblock %}</h1>
    <h3>{% block sinfo %}{% endblock %}</h3>
    {% block content %}
    {% endblock %}
  </body>
</html>