{% extends "base.html" %}
{% block title %}产品追踪{% endblock %}
{% block sname %}产品追踪{% endblock %}
{% block sinfo %}请输入想要查询的产品号和日期{% endblock %}
{% block content %}
<form action="/show_product_lead/" method="post">
<div style="display: flex;">
<div style="margin-right: 10px">
<input value="请在此处输入产品号" name="pNumber" type="text" onmouseover="this.style.backgroundColor='#8ED8FC'" 
style="width: 175px; height: 40px" 
onmouseout="this.style.backgroundColor='#ffffff'" style="border-width:1px;border-color=black" onclick="this.value=''">
<input value="请在此处输入日期" name="pDate" type="text" onmouseover="this.style.backgroundColor='#8ED8FC'" 
style="width: 175px; height: 40px" 
onmouseout="this.style.backgroundColor='#ffffff'" style="border-width:1px;border-color=black" onclick="this.value=''">
</div>
<div>
    <input type=submit onclick="st()" class="button blue" value="查询">
    </div>
    <input type=button onclick="javascript:window.location.href='/index'" class="button green" value="返回">
    <a><input type=button class="button yellow" value="导出"></a>
    </div>
</form>
<div style="max-height:425px;overflow-y:scroll"> 
<table class="bordered">
  <thead>
    <tr>
      <th>员工号</th>
      <th>员工名</th>
      <th>班组号</th>
      <th>班组类别</th>
      <th>员工职称</th>
    </tr>
  </thead>
  <tbody id="tablelsw">
{% for i in posts %}
<tr>
    {% for j in i %}
    	<td>{{j}}</td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
{% block filename %}a.download = "产品追踪.xls";{% endblock %}